<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tomsdeath.filemanager" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivity"
            android:label="@string/title_activity_drawing" >
        </activity>

        <receiver
            android:name=".SearchReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <service
            android:name=".SearchService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.service.FILE_SEARCH_START" />
            </intent-filter>
        </service>

        <activity
            android:name=".Horizontal"
            android:label="@string/title_activity_horizontal" >
        </activity>
        <activity
            android:name=".EditTextFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_edit_text_fullscreen"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>
